@media only screen and (max-width: 576px) {

  .sidebar {
    height: 100% !important;
    width: 100vw !important;

    .sidebar-item {
      padding: 10px !important;
      font-size: 17px !important;
    }
  }

  .gallery-block {

    .gallery-item {
      width: 100% !important;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
